<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Update User
            </div>
            <div class="card-body">
                First Name :
                <input type="text" class="form-control" [(ngModel)]="updateuser.fname" name="fname" />
                <br />
                Last Name : 
                <input type="text" class="form-control" [(ngModel)]="updateuser.lname" name="lname" />
                <br />
                Email ID:
                <input type="email" class="form-control" [(ngModel)]="updateuser.email" name="email" />
                <br />
                Password:
                <input type="password" class="form-control" [(ngModel)]="updateuser.pass" name="pass" />
                <br />    
                Create Stamp :
                <input type="text" class="form-control" [(ngModel)]="updateuser.createdate" disabled="true"/>
                <br />      
                Update Stamp :
                <input type="text" class="form-control" [(ngModel)]="updateuser.modifydate" disabled="true"/>
                <br />                              
                <input type="button"  value="Cancel" class="btn btn-info" (click)="cancelAndBackToUserList()"/>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" value="Update" class="btn btn-success"  (click)="updateUserData()" />
            </div>
        </div>
    </div>
</div>